<%= turbo_frame_tag(discussion) do %>
<div class="d-flex align-items-center justify-content-between">
  <div class="">
    <h1><%= discussion.name %></h1>

    <span class="text-muted fs-6">
      
      <% if discussion.pinned? %>
        <span class="badge rounded-pill bg-info" >Pinned </span>
      <% end %>
      

       <% if discussion.closed? %>
        <span class="badge rounded-pill bg-danger" >Closed </span>
      <% end %>
    </span>
  </div>
  <div class="">
    <%= link_to 'Edit', edit_discussion_path(discussion) %>
    <%=button_to "Delete", discussion_path(discussion), method: :delete, data: { turbo_method: :delete }, class: 'nav-link active', form: {
       data: { turbo_confirm: "Are you sure?" }
    } %>
  </div>

</div>

<% end %>